h2{
    color: blue;
}

.boxmodel {
    border: 5px solid #b99898;
    display: inline-block;
    padding: 5px 20px 5px 20px;
    /* margin: 0px 20px 0px 20px ;  */
    margin: 0px 20px; 
    width: 40px;
    height: 40px;
}